/*-------------------
1. Menu
2. Body
3. Footer
 -------------------*/

/*Mặc định*/
ul, a, p {padding: 15px; color: black; list-style: none; text-decoration: none}
.row {
    margin: 0 auto;
}


/*------------
Menu
-------------*/

.header-top {
    position: absolute;
    z-index: 100;
    border-top: 5px solid #ec1d25;
}

.header-top .wrap_menu {
    padding-left: 45px;
}

.header-top .wrap_menu ul li a {
    color: white;
}

.header-top .wrap_menu ul li {
    padding: 15px
}

.header-top .social a i {
    color: white;
}

.header-fixed .header-top {
    position: fixed;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.header-fixed .wrap_menu ul li a {
    color: #222222;
}

.header-fixed .social a i {
    color: #222222;
}

.logo {
    float: left;
    height: 100px;
    color: white;
}

.wrap_menu ul {
    float: left;
    display: flex;
}

.wrap_menu ul li a:hover {
    color: #ec1d25;
    text-decoration: none;
}

.wrap_menu ul li a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
}

.social a i{
    margin-top: 30px;
}

.social a:hover{
    color: #ec1d25;
}

.section-slide {
    position: relative;
}

.wl .container .row {
    padding-top: 120px;
    padding-bottom: 105px;
    text-align: center;
}

/*---------------
Content-review1
---------------*/

.wl .container .row .welcome {
    padding-top: 45px;
    padding-bottom: 30px;
}

/*---------------
Content-review2
---------------*/

.rv2 .container .row {
    padding-top: 77px;
    padding-bottom: 133px;
}

.rv2 .container .row .p-t-30 .text p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;

}

.rv2 .container .row .p-t-30 .text {

}

.rv2 .container .row .p-t-30 .text a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.img-rv2 {
    max-width: 100%;
    border-radius: 10px;
    margin-left: -15px;
}

/*-----------
Book-table
-----------*/

.book-table {
    padding-top: 100px;
    padding-bottom: 100px;
}

.book-table .img-booking {
    padding-bottom: 30px;
    padding-top: 20px;
}

.book-table .img-booking:hover {
    transform: scale(1.1);
    transition: all 0.6s ease;
}

.img-booking {
    display: block;
    overflow: hidden;
}

/*-----------
Content-blog
-----------*/

.blog {
    padding-top: 115px;
    padding-bottom: 123px;
}

.text h4 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0 -15px 0;
}

.text p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.text a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-blog {
    position: relative;
}


.img-blog {
    max-width: 100%;
    border-radius: 10px;
    margin-left: -15px;
}

/*----------
Sign up
----------*/

.sign-up {
    padding-bottom: 85px;
    padding-top: 85px;
}

.input-signup {
    border: 2px solid #d9d9d9;
    position: relative;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    margin-bottom: 20px;
}

.click-signup {
    margin-left: 10px;
    background: #111111;
    border-radius: 10px;
    color: white;
    width: 160px;
    height: 50px;
}

.click-signup:hover {
    background-color: #ec1d25;
    color: white;
}

.fa fa-envelope ab-r-m m-r-18 {
    position: absolute;
}

/*-------------
Footer
-------------*/

.footer h4 {
    font: 18px Poppins;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 33px;
    line-height: 1.1;
    margin-left: 15px;

}

.footer .txt14 {
    padding-bottom: 10px;
}

.footer span {
    color: #cccccc;
    font-size: 13px;
}

.footer .cont2 a {
    margin-left: -15px;
}

.footer .cont2 span {
    margin-left: 15px;
}

.footer .cont2 .m-b-25 {
    margin-top: 45px;
}

.footer .cont3 .wrap-gallery-footer {
    /*display: -webkit-flex;*/
}

.footer .cont3 .gallery-footer {
    width: calc((100% - 50px) / 4 );
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
}

.footer .cont3 .wrap-gallery-footer .wrap-pic {
    width: 150%;
}

.footer .cont3 .wrap-gallery-footer .wrap-pic:hover{
    background-color: rgba(236,29,37,0.7);
}


